*, *:before, *:after{
     box-sizing: border-box;
 }

.darkBody {
     background-color: black;
     color: orange;


}

.lightButton {

}


#frontPageH {
     font-size: 8rem;
     font-style: italic;

}
/* 
li {
     list-style-type: none;
} */

